<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpg.demo.dao.PostsMapper">
	<resultMap type="Posts" id="postResult">
		<id column="post_id" property="post_id" />
		<result column="post_content" property="post_content" />
		<result column="post_title" property="post_title" />
		<result column="post_createtime" property="post_createtime" />
		<result column="post_comment_num" property="post_comment_num" />
		<result column="post_favor_num" property="post_favor_num" />
		<result column="post_position_longitude" property="post_position_longitude" />
		<result column="post_position_latitude" property="post_position_latitude" />
		<result column="user_id" property="user_id" />
		<result column="post_position" property="post_position" />
		
		<collection property="post_image_names" ofType="com.hpg.demo.bean.PostImage">
		 	<id column="id" property="id"/>
		 	<result column="image_name" property="image_name"/>
		 	<result column="user_name" property="user_name"/>
		 	<result column="post_id" property="post_id"/>
		 </collection>
	</resultMap>
	<!-- 取得插入数据后的 id -->
	<insert id="save" keyColumn="post_id" keyProperty="post_id"
		useGeneratedKeys="true">
		insert into post(
		post_id,
		post_content,
		post_title,
		post_createtime,
		post_comment_num,
		post_favor_num,
		post_position_longitude,
		post_position_latitude,
		user_id,
		user_username,
		post_position)
		values(
		#{post_id},
		#{post_content},
		#{post_title},
		#{post_createtime},
		#{post_comment_num},
		#{post_favor_num},
		#{post_position_longitude},
		#{post_position_latitude},
		#{user_id},
		#{user_username},
		#{post_position})
	</insert>

	<delete id="delete"> delete from post
		where post_id = #{post_id}
	</delete>
	<select id="getPostContentById" resultMap="postResult"> select *
		from post
		where
		post_id
		= #{postId}
	</select>
	<select id="test" resultMap="postResult">
		SELECT post.*,post_image.user_name,post_image.image_name FROM post LEFT JOIN post_image ON post.post_id=post_image.post_id order by post.post_id limit 20 
	</select>
	<!-- 请求热门帖子 -->
	<select id="getHotPostList" resultMap="postResult">
		select * from post order
		by post_comment_num desc,post_id desc limit 20
	</select>

	<!-- 根据最后一条id搜索热门帖子 -->
	<select id="getMoreHotPostListByLastId" resultMap="postResult">
		select * from
		post where post_id > #{lastPostId} order by post_comment_num desc
		limit 20
	</select>

	<select id="getNewPostList" resultMap="postResult">
		select * from post order
		by post_id desc,post_comment_num desc limit 20
	</select>

	<!-- 根据最后一条id搜索最新帖子 -->
	<select id="getMoreNewPostListByLastId" resultMap="postResult">
		select * from
		post where post_id > #{lastPostId} order by post_id desc limit 20
	</select>

</mapper>