<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpg.demo.dao.UserMapper">
	<resultMap type="User" id="userResult">
		<result column="id" property="id" />
		<result column="username" property="username" />
		<result column="profiles" property="profiles" />
		<result column="portrait" property="portrait" />
		<result column="password" property="password" />
		<result column="createtime" property="createtime" />
		<result column="realname" property="realname" />
	</resultMap>
	<!-- 保存一条用户信息 -->
	<insert id="save" keyColumn="id" keyProperty="id"
		useGeneratedKeys="true">
		insert into user(
		id,
		username,
		profiles,
		portrait,
		password,
		createtime,
		realname
		)
		values
		(
		#{id},
		#{username},
		#{profiles},
		#{portrait},
		#{password},
		#{createtime},
		#{realname}
		)
	</insert>
	
	<select id="findUserByUserName" resultMap="userResult">
		select id,username,createtime,realname from user
		where username=#{userName}
	</select>
	
	<select id="findUserByUserNameAndPassword" resultMap="userResult">
		select id,username,createtime,realname from user
		where username=#{userName}  and  password=#{password}
	</select>
	
	<!-- 更新头像 -->
	<update id="updatePortrait">
		update user set portrait = #{portraitUrl}
		where id=#{userId}
	</update>
	
	<update id="updateUserInfo">
		update user set profiles=#{userProfiles},sex=#{userSex} where username=#{userName}
	</update>
	
	<select id="getPortrait" resultType="String">
		select
		portrait from user where id=#{userId}
	</select>

	<select id="findUserById" resultMap="userResult"> select *
		from user
		where
		id = #{id}
	</select>
	
	


</mapper>